{% extends 'sad/base.html' %}
{% block content %}
{% if respondido %}
	<p>Você respondeu à disciplina {{ultima_resp}}</p>
	<p> Obrigado.</p>
{% endif %}

{% if atr_resp %}
    Disciplinas já respondidas (Atenção: se você quiser responder novamente a uma disciplina as respostas anteriores serão apagadas):
    <ul>
        {% for d in atr_resp %}
        <li><a href="/gda/IC/{{ano}}s{{semestre}}/{{d}}{{turma}}/answer/">{{d}}{{ turma }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if atribuicao %}
    Disciplinas não repondidas:
    <ul>
        {% for d  in atribuicao %}
        <li><a href="/gda/IC/{{ano}}s{{semestre}}/{{d}}{{turma}}/answer/">{{ d }}{{ turma }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>N&atilde;o h&aacute; disciplinas a serem respondidas nesse semestre. Obrigado.</p>
{% endif %}
{% endblock %}
