{% extends 'sad/base.html' %}
{% block content %}
{% if respondido %}
<p>Obrigado por responder essa disciplina!</p>
{% endif %}

{% if disciplinas %}
    Disciplinas dispon&iacute;veis para responder:
    <ul>
        {% for disciplina in disciplinas %}
        <li><a href="/IC/{{ano}}s{{semestre}}/{{disciplina}}{{turma}}/answer/">{{ disciplina }}{{ turma }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>N&atilde;o h&aacute; disciplinas a serem respondidas nesse semestre. Obrigado.</p>
{% endif %}
{% endblock %}
