{% extends 'sad/base.html' %}
{% block content %}


	<div class="post">
		<div class="title">
			<h2>Semestres indexados</h2>
			<p><small>Semestres que foram ou estão sendo avaliados pelo GDA<small></p>
		</div>
		<div class="entry">
			{% if semesters %}
				<ul id="semesters">
				{% for s in semesters %}
				<li {% ifequal s current_semester %}class="current_semester"{% endifequal %}>{{ s }}</li>
				{% endfor %}
				</ul>
			{% else %}
				<p>No polls are available for this semester.</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
