<html>
<body>

<form method='GET' action='IC/{{ano}}s{{semestre}}/{{disciplina}}/commit/'>
<table>
    <thead>
        <tr>
            <td colspan="2"><h2>{{ disciplina }} - {{ nome }}</h2></td>
        </tr>
    </thead>
    {% for p in perguntas %}
    <tr>
        <td><b> {{ p.pergunta }}</b></td>
        <td>
        {% if p.alternativas %}<!-- Alternativa -->
            {% for a in p.alternativas %}
                <input type='radio' name='pa{{ p.id }}' value='{{ a.id }}'> {{ a.texto }}
            {% endfor %}
        {% else %}<!-- Dissertativa -->
            <textarea cols='40' rows='5' name='pd{{ p.id }}'></textarea>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    <thead>
        <tr>
            <td colspan="2"><b>
                <input type='submit' value='Enviar'>
            </td>
        </tr>
    </thead>
</table>
</form>
</body>
</html>
