<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt_BR">
<head>
   <title>{% block title %}Sistema de Avalia&ccedil;&atilde;o Discente - CACO{% endblock %} - {% block subtitle %}{% endblock %}</title>
	<link href="default.css" rel="stylesheet" type="text/css" media="screen" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>

<!-- start header -->
<div id="wrapper">
<div id="header">
    <div id="logo">
		<h1>{% block page_title %}GDA{% endblock %}</h1>
		<p>{% block page_subtitle %}Guia Discente de Avalia&ccedil;&atilde;o{% endblock %}</p>
    </div>
</div>
<!-- end header -->

<!-- start menu -->
<div id="menu">
	<ul>
		<li><a href="/gda/IC/2008s2/answer/">Disciplinas a avaliar</a></li>
		<li><a href="#">Sobre</a></li>
		<li><a href="#">Contato</a></li>
        <li><a href="/gda/logout/">Logout</a></li> <!-- css pra li 'class="current_page_item"' -->
	</ul>
</div>
<!-- end menu -->

<!-- start page -->
<div id="page">
    <!-- start content -->
    <div id="content">
    {% block content %}{% endblock %}
    </div>
    <!-- end content -->
</div>
<!-- end page -->

<!-- start footer -->
<div id="footer">
    {% block footer %}
    {% endblock %}
	<p class="legal">
		2008 <a href="#">CACo</a>
		&nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>
</div>
<!-- end footer -->
</body>
</html>

